
<!DOCTYPE html>
<html>
<head>
	<title>Self Affirmation Activity</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/editor.css' />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src="/javascripts/editor.js"></script>
  <script type="text/javascript" src="/javascripts/clock.js"></script>

</head>
<body>
  <form action="/submit" method="post">
    <textarea name="writing" cols="64" rows="40" id="textarea"></textarea>
    <input name="name" type="hidden" value= "<%= name %>">
    <input name="useremail" type="hidden" value="<%= useremail %>">
    <input name="teacheremail" type="hidden" value="<%= teacheremail %>">
    <button class="btn btn-primary submit" type="submit" id="submission">Submit Writing</button>
  </form>
  <div id= "timerdone" class="alert alert-info">
    <strong>15 mins over!</strong> Please submit your writing! You can always revisit it later. :)
  </div>
  <div id="clockdiv">
    <div>
      <span class="minutes"></span>
      <div class="smalltext">Minutes</div>
    </div>
    <div>
      <span class="seconds"></span>
      <div class="smalltext">Seconds</div>
    </div>
</div>

</body>
</html>
