<!DOCTYPE html>
<html>
  <head>
    <title>Self Affirmation</title>
    <link rel='stylesheet' href='/stylesheets/spread.css'>
  </head>
  <body>
    <div id="container"></div>

    <div id="tag" class="before">
        <h1>Thank You For Participating</h1>
      <p>
        1. An email with your response has been sent to your teacher
        <br>
        <br>
        2. You should also get a confirmation email!
        <br>
        <br>
        @Simar Mangat 
      </p>
    </div>
    <script type="text/javascript" src="/javascripts/spread.js"></script>
  </body>
</html>
